#playground{
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: 2px 10px 5px gray;
    margin: 10px;
}

#map{
    display: grid;
    grid-template-columns: repeat(20, 50px);
    // grid-template-rows: repeat(20, 10px);
    overflow: hidden;
    // gap: 5px;
    box-sizing: border-box;
    background-color: rgb(102, 160, 102);
    outline: 5px solid rgb(49, 49, 49);
    width: 100%;
    height: 100%;
}

.kachel{
    position: relative;
    display: inline-block;
    box-sizing: border-box; 
    background-size : 75%;
    background-repeat : no-repeat;
    background-position : center;
    transition: top 0.4s, left 0.4s;
    border: 2px dotted;
}

.kachelStar{
    background-image : url(../../../assets/mapIcons/star.svg);
    border-color: rgb(146, 104, 14);
    background-color: rgb(212, 186, 97);
    color: rgb(212, 186, 97);
}

.kachelWater{
    background-image : url(../../../assets/mapIcons/water.svg);
    border-color: rgb(37, 41, 80);
    background-color: rgb(65, 103, 161);
    color: rgb(65, 103, 161);
}

.kachelFlower{
    background-image : url(../../../assets/mapIcons/flower.svg);
    border-color: rgb(71, 37, 80);
    background-color: rgb(161, 65, 137);
    color: rgb(161, 65, 137);
}

.kachelTree{
    background-image : url(../../../assets/mapIcons/tree.svg);
    border-color: rgb(37, 75, 80);
    background-color: rgb(65, 161, 132);
    color:  rgb(65, 161, 132);
}

.kachelGreen{
    border-color: rgb(37, 80, 56);
    background-color: rgb(102, 160, 102);
    color: rgb(102, 160, 102);
}

#player{
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    z-index: 10;
}
#player img{
    width: 100%;
    height: 100%;
}

button{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    text-align: center;
    box-shadow: 2px 2px 5px gray;
}