@import '../../styles.scss';

#playground{
    position: relative;
    width: $pgWigth;
    height: $pgHeight;
    box-shadow: 2px 10px 5px rgb(0, 0, 0);
    margin-bottom: 15px;
}

#map{
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(49, 49, 49);
    outline: 5px solid rgb(49, 49, 49);
    width: 100%;
    height: 100%;
}

.kachel{
    position: relative;
    display: flex;

	justify-content:center;
    align-items: center;

    box-sizing: border-box; 
    transition: all 0.4s;
    border: 2px dotted;
}

.icon{
    width: 80%;
    height: 80%;
    // opacity: 0.3;
}

#player{
    position: absolute;
    border-radius: 40%;
    transition: all 0.4s;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
}
#player img{
    width: 100%;
    height: 100%;
}
