<h3 class="textElement"
    [ngStyle]="getStyleColors(this.getMyPositionTile().color)">
    Du befindest dich hier: {{this.getMyPositionTile().name}} 
</h3>

<p></p>

<div id="playground">
    <div id="map" [ngStyle]="getMapStyle()">
        <div *ngFor="let row of map">
            
            <div *ngFor="let cell of row" class="kachel" [ngStyle]="createTileStyle(cell)">
                <img [attr.src]="iconUrl(cell.icon)" alt="" 
                     (error)="iconError($event.target)" 
                     [ngStyle]="colorBlackSvg(cell.color)">
            </div>
            
        </div>
    </div>
    <div id="player" 
        [ngStyle]="createPlayerStyle()">
        <img class="player" [class.hop-up]="isHoppingUp"  src="../../../assets/player/humanW.svg">
    </div>
</div>

<table class="element">
    <tr>
        <td style="width: 33%;"></td>
        <td><button (click)="nord()">norden</button><br></td>
        <td></td>
    </tr>
    <tr>
        <td><button (click)="west()">westen</button><br></td>
        <td style="width: 33%;"></td>
        <td><button (click)="ost()">osten</button><br></td>
    </tr>
    <tr>
        <td></td>
        <td><button (click)="sud()">süden</button><br></td>
        <td style="width: 33%;"></td>
    </tr>
</table>
