<div id="menuContainer">
    <div id="chara" class="icon"><img src="../../assets/uiIcons/chara.svg"> 
        <span><br>Charakter</span></div>
    <div id="skill" class="icon"><img src="../../assets/uiIcons/swords.svg"> 
        <span><br>Fähigkeiten</span></div>
    <div id="craft" class="icon"><img src="../../assets/uiIcons/craft.svg"> 
        <span><br>Herstellen</span></div>

    <div id="map" class="icon"><img src="../../assets/uiIcons/map.svg"> 
        <span><br>Karte</span></div>
    <div id="quest" class="icon"><img src="../../assets/uiIcons/quest.svg"> 
        <span><br>Aufgaben</span></div>
    <div id="package" class="icon"><img src="../../assets/uiIcons/package.svg"> 
        <span><br>Inventar</span></div>

    <div id="menu" class="icon"><img src="../../assets/uiIcons/menu.svg"> 
        <span><br>Menü</span></div>
    <div id="book" class="icon"><img src="../../assets/uiIcons/book.svg"> 
        <span><br>Buch</span></div>
    <div id="stats" class="icon"><img src="../../assets/uiIcons/stats.svg"> 
        <span><br>Zahlen</span></div>
</div>