@import '../../styles.scss';

$layoutWidth: 250px;
$maxWidth: ($layoutWidth*2) + $pgWigth + 20px;
$middleWidth: $layoutWidth + $pgWigth + 10px;
$smallWidth: $pgWigth + 10px;

#menuContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

span {
    display: none;
}
@media (max-width: #{$middleWidth}) {
    span{
        display: inline;
    }
  }

.icon{
    background-color: rgb(44, 44, 44);
    border: 2px solid black;
    color: rgb(187, 187, 187);
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 10px;
    padding: 5px 0 5px 0;
}.icon:hover{
    background-color: black;
}


#chara{
    grid-column: 1;
    grid-row: 1;
}
#skill{
    grid-column: 1;
    grid-row: 2;
}
#craft{
    grid-column: 1;
    grid-row: 3;
}


#map{
    grid-column: 2;
    grid-row: 1;
}
#quest{
    grid-column: 2;
    grid-row: 2;
}
#package{
    grid-column: 2;
    grid-row: 3;
}


#menu{
    grid-column: 3;
    grid-row: 1;
}
#book{
    grid-column: 3;
    grid-row: 2;
}
#stats{
    grid-column: 3;
    grid-row: 3;
}