@import '../styles.scss';

$layoutWidth: 250px;
$maxWidth: ($layoutWidth*2) + $pgWigth + 20px;
$middleWidth: $layoutWidth + $pgWigth + 10px;
$smallWidth: $pgWigth + 10px;

#game {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: $maxWidth;
  margin: auto;

  @media (max-width: #{$maxWidth}) {
    width: $middleWidth;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  @media (max-width: #{$middleWidth}) {
    width: $smallWidth;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}

#left, #main, #right {
  padding: 5px;
  margin: 5px;
  border: 4px dotted rgb(49, 49, 49);
  align-items: start;
}

#left {
  min-width: $layoutWidth;
  justify-items: right;
  text-align: right;

  @media (max-width: #{$maxWidth}) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  @media (max-width: #{$middleWidth}) {
    grid-row: 3;
    grid-column: 1;
    min-width: $smallWidth;
    justify-items: center;
    text-align: center;
  }
}

#main {
  display: grid;
  justify-items: center;
  min-width: $smallWidth;
  text-align: center;

  @media (max-width: #{$maxWidth}) {
    grid-column: 2;
    grid-row: 1;
  }

  @media (max-width: #{$middleWidth}) {
    grid-row: 1;
    grid-column: 1;
  }
}

#right {
  min-width: $layoutWidth;
  justify-items: left;
  text-align: left;

  @media (max-width: #{$maxWidth}) {
    grid-row: 2;
    grid-column: 2;
    justify-items: center;
    text-align: center;
  }

  @media (max-width: #{$middleWidth}) {
    grid-row: 2;
    grid-column: 1;
    min-width: $smallWidth;
    justify-items: center;
    text-align: center;
  }
}