<h3 class="element" style="border: 5px solid;"
    [ngStyle]="getStyleColors(tile?.color || [])">
    Ereignis auf {{coordinate[0]}}/{{coordinate[1]}}
</h3>


<div id="tileImgCon">
    <img src="{{getImgUrl(tile?.icon)}}" [ngStyle]="getRadialColors(tile?.color)">
</div>

<div class="textElement tileDiscription" [ngStyle]="getStyleColors([])">
    {{ tile?.discription }}
</div>

<span *ngIf="isEvent()">
    <span *ngFor="let tileEvent of tile?.events">
        <app-action [eventID]="tileEvent[0]"></app-action>
    </span>
</span>


