<div class="editor-container">
  <div class="map-controls">
      <button (click)="expandUp()">▲</button>
      <button (click)="expandLeft()">◄</button>
      <div class="map-view">
          <!-- Die äußere Schleife, die die Zeilen deiner Karte rendert -->
          <div *ngFor="let row of mapArray; let rowIndex = index" class="map-row">
              <!-- Die innere Schleife, die die Kacheln in einer Zeile rendert -->
              <div *ngFor="let tile of row; let colIndex = index" 
                  class="map-tile" 
                  [style.background-color]="getTileColor(tile)"
                  (click)="setTile(rowIndex, colIndex)">
                  <img [src]="'../../../assets/mapIcons/' + getTileSymbol(tile) + '.svg'" alt="">
              </div>
          </div>
      </div>
      <button (click)="expandRight()">►</button>
      <button (click)="expandDown()">▼</button>
  </div>
  
  <div class="biome-selector">
      <!-- Biome-Auswahl -->
      <div class="biome-tile" 
          *ngFor="let biome of biomes" 
          [style.background-color]="biome.color"
          [class.selected-biome]="selectedBiome === biome" 
          (click)="selectBiome(biome)">
          <img [src]="'../../../assets/mapIcons/' + biome.symbol + '.svg'" alt="">
      </div>
  </div>
  
  <div class="map-array-output">
      <button class="space" (click)="saveArray()">Karte exportieren</button><br>
      <button class="space"  (click)="clearArray()">Karte zurück setzten</button><br>
      <input type="file" id="fileInput" (change)="loadArray($event)" style="display: none;">
      <label for="fileInput" class="custom-file-button space">Karte importieren</label>
  </div>
</div>

<img src="../../../assets/mapIcons/forest.svg">